<html lang="en">
  <head>
    <link rel="stylesheet" href="{{url}}/assets/style.css">
    <link href="https://rebeccasmall.co.uk/assets/fav.jpeg" rel='shortcut icon'>
    <meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>
    <meta content='text/html; charset=utf-8' http-equiv='content-type' />
    <meta content="rebeccasmall.co.uk" property="og:site_name">
        <meta content='https://rebeccsmall.co.uk' property='og:url' />
        <meta content="{{ site.description }}" property='og:description' />
        <meta content="blog" property="og:type" />
        <meta property="og:image" content="https://rebeccasmall.co.uk/assets/headshot.jpg">
        <meta content='{{ page.title }}' name='title' />
        <title>{{ site.title }}</title>
  </head>
  <body>
      {{ content }}
  </body>
</html>